.profile-banner {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-top: 8vh;
}

/* Decrease the top margin on small screens. */
@media screen and (max-width: 808px) {
    .profile-banner {
        margin-top: 5vh;
    }
}

.profile-picture-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.profile-banner .credentials {
    display: inline-block;
    padding-left: 40px;
    vertical-align: middle;
}

.credentials .name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
}

.credentials .name .academic-title {
    color: var(--text-color-opaque);
    font-size: 2.0rem;
    font-weight: 400;
}

.credentials .username {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    width: 100%;
}

#profile-hr {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    color: var(--text-color-opaque);
}

#profile-hr::after {
    content: "/social";
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -2px;
    font-family: monospace;
    font-size: 1rem;
}

.social {
    margin: 0 auto;
    margin-top: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
}

/* Decrease the top margin on small screens. */
@media screen and (max-width: 808px) {
    .social {
        margin-top: 45px;
    }
}

.social a {
    margin: 0 17px;
}

.social-icon {
    width: 25px;
    height: 25px;
    overflow: visible;
}


/* Portrait mode */

@media screen and (max-width: 808px) {    
    .profile-banner .profile-picture-big {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        display: block;
    }
    
    .profile-banner .credentials {
        display: block;
        padding-left: 0;
        margin-top: 18px;
    }
    
    .credentials .name {
        font-size: 2.0rem;
        padding-left: 6px;
    }
    
    .credentials .name .academic-title {
        font-size: 1.6rem;
    }
    
    .credentials .username {
        font-size: 1.2rem;
        text-align: center;
    }
    
    #profile-hr {
        width: 300px;
    }
}

/* On touch devices, increase the icon size to 32px regardless of the size of the screen. */
@media screen and (hover: none) {
    .social-icon {
        width: 32px;
        height: 32px;
    }
}