.projects-selection {
    max-width: 1576px;
    margin: 7vh auto 5vh auto;
}

.projects-selection-title {
    font-family: consolas;
    font-size: 2rem;
    padding-left: 20px;
}


/* Selection container */

.projects-selection-container {
    /* Make the tiles appear next to each other in fixed distance, aligned to the left.
    If the screen is too small, the tiles will be stacked on top of each other. */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 0 0 0;
    padding: 13px;
    width: 100%;
    height: 100%;
    border-radius: 48px;
    box-shadow: var(--box-shadow);
}


/* Project tile container */

.project-tile-container {
    min-width: 310px;
    height: 300px;
    padding: 20px;
    flex: 1 1 1px;
}


/* Project tile */

.project-tile {
    padding: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: var(--secondary-color-opaque);
    border: 1px solid var(--primary-color);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 24px 0px rgba(156, 156, 252, 0.22);
}


@media screen and (prefers-color-scheme: dark) {
    .project-tile {
        box-shadow: none;
    }
}

[data-darkreader-mode="dynamic"] .project-tile {
    box-shadow: none;
}


/* Project tile image */

img.project-tile-image {
    /* The image should not take away space from the text but rather be placed behind it. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    background-color: #fff;

}

.zoom-on-hover {
    transition: transform 0.1s ease-in-out !important;
}


/* When hovering over the tile container, slightly zoom into the image. */
.project-tile-container:hover img.project-tile-image.zoom-on-hover {
    transform: scale(1.07);
}

/* On touch devices, do not zoom into the image. */
@media screen and (hover: none) {
    img.project-tile-image.zoom-on-hover {
        transform: none;
    }
}



/* Project header */

.project-tile-container .project-selection-tile-header {
    height: 4.5rem;
}

.project-selection-title {
    text-overflow: ellipsis;
    overflow: hidden;
    /* Allow a maximum height of 2 lines. */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.3rem;
    text-decoration: none;
}

/* When hovering over the tile container, underline the title. */
.project-tile-container:hover .project-selection-title{
    text-decoration: underline;
}

/* On touch devices, underline the title by default. */
@media screen and (hover: none) {
    .project-selection-title{
        text-decoration: underline;
    }
}



.project-selection-date {
    display: inline-block;
    color: var(--text-color-gray);
    margin-top: 5px;
}


/* Project description */

.project-selection-description {
    margin-top: 15px;
    line-height: 1.4;
}

@media screen and (max-width: 808px) {
    .projects-selection-container .project-tile-container {
        width: 100%;
        height: 300px;
        padding: 20px;
    }
}