@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');


:root {
    color-scheme: light dark;
    --primary-color: #eee;
    --primary-color-shadow-infused: #e4e4ee;
    --secondary-color: hsl(240, 17%, 92.2%);
    --secondary-color-opaque: hsla(0, 0%, 93.3%, 0.95);
    --text-color: #151518;
    --text-color-gray: #666;
    --text-color-opaque:rgba(21, 21, 24, 0.4);
    --box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.15);
    --font-family: 'Montserrat';
}

@media screen and (prefers-color-scheme: dark) { 
    :root {
        --primary-color: #151518;
        --primary-color-shadow-infused: #151518;
        --secondary-color: #1f1f24;
        --secondary-color-opaque: rgba(31, 31, 36, 0.93);
        --text-color: #eee;
        --text-color-gray: #999;
        --text-color-opaque:rgba(238, 238, 238, 0.3);
        --box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.07);
    }
}

[data-darkreader-mode="dynamic"] {
    --primary-color: #151518;
    --primary-color-shadow-infused: #151518;
    --secondary-color: #1f1f24;
    --secondary-color-opaque: rgba(31, 31, 36, 0.93);
    --text-color: #eee;
    --text-color-gray: #999;
    --text-color-opaque:rgba(238, 238, 238, 0.3);
    --box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.07);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    background-clip: padding-box;
}


/* Body */

body {
    padding: 0 10vw;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
    color: var(--text-color);
    background: var(--primary-color);
}


/* Links */

a {
    text-decoration: none;
    color: inherit;
}

/* Keep .citation links normal */

a.citation {
    color: #007bff;
}

/* Invertible icons for dark mode */
@media screen and (prefers-color-scheme: dark) {
    .invertible-icon {
        filter: invert(0.95);
    }
}

[data-darkreader-mode="dynamic"] .invertible-icon {
    filter: invert(0.95);
}


.content {
    max-width: 1576px;
    margin: 7vh auto 120px auto;
}

.section-title {
    font-family: monospace;
    font-size: 2rem;
    padding-left: 20px;
}

/* Add top margin to every but the first section title */

.section-title:not(:first-child) {
    margin-top: 100px;
}

.back-arrow {
    font-family: monospace;
    font-size: 2.5rem;
    padding-left: 20px;
    height: 0;
    transform: translateY(-55px);
    display: block;
}

/* Stick footers to the bottom of the page */
footer {
    bottom: 0;
    width: 100%;
    /* margin-bottom: 100px; */
    position: absolute;
    transform: translateX(-10vw);
    height: 60px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: underline;
}

