@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');


:root {
    color-scheme: light dark;
    --primary-color: #eee;
    --secondary-color: hsl(240, 17%, 92.2%);
    --secondary-color-opaque: hsla(0, 0%, 93.3%, 0.96);
    --text-color: #151518;
    --text-color-gray: #666;
    --text-color-opaque:rgba(21, 21, 24, 0.4);
    --box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.15);
    --font-family: 'Montserrat';
}

@media screen and (prefers-color-scheme: dark) { 
    :root {
        --primary-color: #151518;
        --secondary-color: #1f1f24;
        --secondary-color-opaque: rgba(31, 31, 36, 0.93);
        --text-color: #eee;
        --text-color-gray: #999;
        --text-color-opaque:rgba(238, 238, 238, 0.3);
        --box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.07);
    }
}

[data-darkreader-mode="dynamic"] {
    --primary-color: #151518;
    --secondary-color: #1f1f24;
    --secondary-color-opaque: rgba(31, 31, 36, 0.93);
    --text-color: #eee;
    --text-color-gray: #999;
    --text-color-opaque:rgba(238, 238, 238, 0.3);
    --box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.07);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    background-clip: padding-box;
}


/* Body */

body {
    padding: 0 10vw;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
    color: var(--text-color);
    background: var(--primary-color);
}


/* Links */

a {
    text-decoration: none;
    color: inherit;
}