@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');


:root {
    color-scheme: light dark;
    
    --light-color: #eee;
    --dark-color: #151518;

    --light-secondary-color: hsl(240, 17%, 92.2%);
    --dark-secondary-color: #1f1f24;

    --light-secondary-color-opaque: hsla(0, 0%, 93.3%, 0.96);
    --dark-secondary-color-opaque: rgba(31, 31, 36, 0.93);

    --light-text-color: #151518;
    --dark-text-color: #eee;

    --light-text-color-gray: #666;
    --dark-text-color-gray: #999;

    --light-text-color-opaque:rgba(21, 21, 24, 0.4);
    --dark-text-color-opaque: rgba(238, 238, 238, 0.3);

    --light-box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.15);
    --dark-box-shadow: 0px 0px 140px 10px rgba(156, 156, 252, 0.07);

    --font-family: 'Montserrat';

    --darkreader-bg--light-color: var(--light-color);
    --darkreader-border--light-color: var(--light-color);
    --darkreader-bg--dark-color: var(--dark-color);
    --darkreader-border--dark-color: var(--dark-color);
    --darkreader-bg--light-secondary-color-opaque: var(--light-secondary-color-opaque);
    --darkreader-bg--dark-secondary-color-opaque: var(--dark-secondary-color-opaque);
    --darkreader-text--light-text-color: var(--light-text-color);
    --darkreader-text--dark-text-color: var(--dark-text-color);
    --darkreader-text--light-text-color-gray: var(--light-text-color-gray);
    --darkreader-text--dark-text-color-gray: var(--dark-text-color-gray);
    --darkreader-text--light-text-color-opaque: var(--light-text-color-opaque);
    --darkreader-text--dark-text-color-opaque: var(--dark-text-color-opaque);
    --darkreader-bg--light-box-shadow: var(--light-box-shadow);
    --darkreader-bg--dark-box-shadow: var(--dark-box-shadow);

    --darkreader-neutral-background: var(--dark-color);
    --darkreader-neutral-text: var(--dark-text-color);
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    background-clip: padding-box;
}


/* Body */

body {
    padding: 0 10vw;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
    color: var(--light-text-color);
    background: var(--light-color);
}


body.dark-reader {
    background: var(--dark-color);
    color: var(--dark-text-color);
}

@media screen and (prefers-color-scheme: dark) { 
    body {
        background: var(--dark-color);
        color: var(--dark-text-color);
    }
}


/* Links */

a {
    text-decoration: none;
    color: inherit;
}